<script>

    const SALESFORCE_CAMPAIGN = "{{ config.SALESFORCE_CAMPAIGN }}";

    const HUBSPOT_FORM_ID = "{{ config.HUBSPOT_FORM_ID }}";

    const FORM_GOAL = "{{ config.FORM_GOAL }}";

    const HUBSPOT_FORM_TITLE = "{{ config.HUBSPOT_FORM_TITLE }}";

    const EVENT_CATEGORY = "{{ config.EVENT_CATEGORY }}";

    const ADWORDS_ACCOUNT_ID = {{ config.ADWORDS_ACCOUNT_ID }};

    const ADWORDS_GRANTS_ACCOUNT_ID = {{ config.ADWORDS_GRANTS_ACCOUNT_ID }};

    const CONVERSION_LABEL_DISPLAY = "{{ config.CONVERSION_LABEL_DISPLAY }}";

    const CONVERSION_LABEL_NEW_DISPLAY = "{{ config.CONVERSION_LABEL_NEW_DISPLAY }}";

    const CONVERSION_LABEL_GRANTS = "{{ config.CONVERSION_LABEL_GRANTS }}";

</script>