<script>

    const SALESFORCE_CAMPAIGN = "70108000000iSckAAE";

    const HUBSPOT_FORM_ID = "0a6163f6-f99b-489a-821a-b0ebbf6dd284";

    const FORM_GOAL = "Download";

    const HUBSPOT_FORM_TITLE = "Fruta de temporada";

    const EVENT_CATEGORY = "FrutaTemporada";

    const ADWORDS_ACCOUNT_ID = 1053230267;

    const ADWORDS_GRANTS_ACCOUNT_ID = 961833097;

    const CONVERSION_LABEL_DISPLAY = "bRpeCJuYw_gCELuJnPYD";

    const CONVERSION_LABEL_NEW_DISPLAY = "EhujCKmdw_gCELuJnPYD";

    const CONVERSION_LABEL_GRANTS = "mLMyCKatwvgCEInR0coD";
    
</script>