<footer>
    <div class="footer-logo">
        <a href="{{ home_url }}">
            <img src="{{ site.assets}}/img/icons/greenpeace-logo-blanco.svg" style="height: 22px;" width="184" height="29" alt="Greenpeace" loading="lazy"/>
        </a>
    </div>
    <nav aria-label="{{ footer_menu_name }}">
        <ul class="footer-links">
            <li>
                <a href="https://es.greenpeace.org/">© Greenpeace {% year %}</a>
            </li>
            <li>
                <a href="{{ footer.url_privacy_link }}">
                    <span>{{ footer.label_privacy_link }}</span>
                </a>
            </li>
            <li>
                <a href="{{ footer.url_contact }}" >
                    <span>{{ footer.label_contact }}</span>
                </a>
            </li>
        </ul>
    </nav>
</footer>