<nav x-data="{ openMobile : false }" class="topmenu">
    <ul class="menu" x-bind:class="openMobile ? 'active' : ''">
        <li class="logo">
            <a href="./"><img alt= "{{ title }}" src="{{ site.assets}}/img/icons/greenpeace-logo-blanco.svg" width="184" height="29"></a>
        </li>
        {% for menu in top_menu %}
            <li class="item">
                {% if menu.external == true %}
                    <a href="{{ menu.url }}">{{ menu.text }}</a>
                {% else %}
                <a href="{{ site.domain }}{{ menu.url }}">{{ menu.text }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li class="toggle" x-on:click="openMobile = ! openMobile">
            <a href="#/menu" aria-label="Menu"><span class="fas fa-bars"
                        x-bind:class="openMobile ? 'fa-times' : 'fa-bars'"><span class="sr-only">{{ mobile_menu }}</span></span></a>
        </li>
    </ul>
</nav>
