/**
 * Base CSS
 */

 :root {
    --text-color: #212529;
    --light-text-color: #ffffff;
    --main-bg-color: #ffffff;
    --second-bg-color: #f6f6f5;
    --third-bg-color: #144005;
    --links-color: #ff683a;
    --links-hover: #cb5937;
    --hover-color: rgb(255, 240, 10);
    --headers-font: "Work Sans", sans-serif;
    --regular-font: "Source Serif 4", serif;
    --light-font-weight: 200;
    --bold-font-weight: 800;
    --text-line-height: 1.5rem;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--regular-font);
    line-height: var(--text-line-height);
    background-color: var(--main-bg-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headers-font);
    font-weight: var(--bold-font-weight);
}