/**
 * Cookies CSS
 */

:root {
    --button-yes-color: #b7ffc9;
    --button-yes-color-hover: #dcfedb;
    --button-no-color: #ffb7b7;
    --button-no-color-hover: #fedbdb;
}

.modal {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-visible-overflow {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-inside {
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    text-align: left;
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .7);
    margin: auto;
    border-radius: .25rem;
    border: 1px solid #000;
}

.modal-inside a {
    color: var(--links-color);
    font-weight: 700;
    text-decoration: underline;
}

.modal-inside label {
    font-weight: var(--bold-font-weight);
}

.modal-bt-row {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 1.5rem 0;
}

.modal-bt-row button {
    padding: .75rem;
    border: none;
    border-radius: 4rem;
    color: var(--second-color);
    padding: 10px 20px 10px 20px;
    font-family: var(--headers-font);
    font-size: 1.1rem;
    cursor: pointer;
}

.cookies-yes {
    background-color: var(--button-yes-color);
}

.cookies-yes:hover {
    background-color: var(--button-yes-color-hover);
}

.cookies-no {
    background-color: var(--button-no-color);
}

.cookies-no:hover {
    background-color: var(--button-no-color-hover);
}

@media (min-width: 480px) {
    .modal-inside {
        max-width: 450px;
    }
}