/**
 * Footer
 */

footer {
    margin-top: 2rem;
    background-color: var(--third-bg-color);
    color: var(--light-text-color);
    padding-bottom: 0.5rem;
}

footer a {
    color: var(--light-text-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--light-text-color) ;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style-type: none;
}

.footer-logo {
    text-align: center;
    padding-top: 1rem;
}

.footer-logo a {
    display: block;
    padding: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.footer-links a {
    padding: 8px 15px;
    display: block;
}

@media screen and (min-width: 700px) {
    .footer-links {
        flex-direction: row;
    }

    .footer-links a {
        padding: 10px 20px;
    }
}