/**
 * CSS Grid
 */

.openspace {
    grid-area: openspace;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    'openspace'
    'content1'
    'content2'
}

@media screen and (min-width: 800px) {
    main {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        'openspace openspace'
        'content1 content2'
    }
}
