/**
 * CSS Grid
 */

.openspace {
    grid-area: openspace;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    'openspace'
    'content1'
    'content2'
}
