/**
 * Base CSS
 */

:root {
    --text-color: #000;
    --light-text-color: #979494;
    --second-color: #fff;
    --links-color: #ff683a;
    --main-bg-color: #fff;
    --second-bg-color: #ff683a;
    --links-hover: #cb5937;
    --hover-color: rgb(255, 240, 10);
    --light-background: #f1f1f1;
    --headers-font: "Work Sans", sans-serif;
    --regular-font: "Source Serif 4", serif;;
    --light-font-weight: 300;
    --bold-font-weight: 800;
    --text-line-height: 1.5rem;
}

html,
body {
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  body {
    font-family: var(--regular-font);
    line-height: var(--text-line-height);
}

h1,
h2,
h3,
h4 {
    font-family: var(--headers-font);
    font-weight: var(--bold-font-weight);
}
