<!DOCTYPE html>
<html lang="{{ lang }}">
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ title }}</title>
            {% include "metas.njk" %}
            {% block css %}
                {% set css %}{% include "critical/base.css" %}{% endset %}
                <style>
                    {{css | cssmin | safe}}
                </style>
                <link rel="preload" as="style" href="{{ site.assets }}/css/base.css?v={{ site.version }}" onload="this.rel='stylesheet'">
                <link rel="preload" as="style" href="{{ site.assets }}/css/cookies.css?v={{ site.version }}" onload="this.rel='stylesheet'">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            {% endblock %}
            {% block analytics %}
                {% include "analytics.njk" %}
            {% endblock %}
            {% block scripts %}
                <script src="{{ site.assets}}/js/global.js" defer="defer"></script>
                <script src="{{ site.assets}}/js/persist.min.js" defer="defer"></script>
                <script src="{{ site.assets}}/js/alpine3-14-1.min.js" defer="defer"></script>
            {% endblock %}
        </head>
    {% endblock %}
    {% block body %}
        <body x-data="{ showModal: false }">

            {{ content | safe }}

            {% include "cookies-dialog.njk" %}

            <div id="hubspotEmbed"></div>
        </body>
    {% endblock %}
</html>