<!DOCTYPE html>
<html lang="{{ lang }}">
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ title }}</title>
            {% include "metas.njk" %}
            {% block css %}
                {% set css %}{% include "critical/base.css" %}{% endset %}
                <style>
                    {{css | cssmin | safe}}
                </style>
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link rel="preload" as="style" href="{{ site.assets }}/css/base.css?v={{ site.version }}" onload="this.rel='stylesheet'">
            {% endblock %}
            {% block analytics %}
                {% include "analytics.njk" %}
            {% endblock %}
            {% block scripts %}
                <script src="{{ site.assets}}/js/global.js" defer="defer"></script>
                <script src="{{ site.assets}}/js/persist.min.js" defer="defer"></script>
                <script src="{{ site.assets}}/js/alpine3-14-1.min.js" defer="defer"></script>
            {% endblock %}
        </head>
    {% endblock %}
    {% block body %}
        <body x-data="{ showModal: false }">

    {% block menubar %}
    <nav x-data="{ openMobile : false }" class="topmenu">
        <ul class="menu" x-bind:class="openMobile ? 'active' : ''">
            <li class="logo"><a href="./">{{ title }}</a></li>
            <li class="item"><a href="./">{{ menu.home }}</a></li>
            <li class="item"><a href="./calendario/">{{ menu.calendar }}</a></li>
            <li class="item"><a href="./descargar-guia/">{{ menu.download }}</a></li>
            <li class="toggle" x-on:click="openMobile = ! openMobile"><a href="#/menu" aria-label="Menu"><span class="fas fa-bars"
                        x-bind:class="openMobile ? 'fa-times' : 'fa-bars'"><span class="sr-only">{{ mobile_menu }}</span></span></a></li>
        </ul>
    </nav>
    {% endblock %}

            {{ content | safe }}

            {% include "cookies-dialog.njk" %}

            <div id="hubspotEmbed"></div>
        </body>
    {% endblock %}
</html>