<!DOCTYPE html>
<html lang="{{ lang }}">
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ title }}</title>
            {% include "metas.njk" %}
            {% block css %}
                {% set css %}{% include "critical/base.css" %}{% endset %}
                <style>
                    {{css | cssmin | safe}}
                </style>
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link rel="preload" as="style" href="{{ site.assets }}/css/base.css?v={{ site.version }}" onload="this.rel='stylesheet'">
            {% endblock %}
            {% block analytics %}
                {% include "analytics.njk" %}
            {% endblock %}
            {% block scripts %}
                <script src="{{ site.assets}}/js/global.js" defer="defer"></script>
                <script src="{{ site.assets}}/js/form.js" defer="defer"></script>
                <script src="{{ site.assets}}/js/libs.min.js" defer="defer"></script>
            {% endblock %}
        </head>
    {% endblock %}
    {% block body %}
        <body x-data="{ showModal: false }">

            {% block menubar %}
                {% include "topmenu.njk" %}
            {% endblock %}

            <main id="main">

                {% block openspace %}
                    <section class="openspace">
                        {{ open_space | safe }}
                    </section>
                {% endblock %}

                {% block content1 %}
                    <section class="content1">
                        {{ content_1 | safe }}

                        {% include "form.njk" %}
                        
                    </section>
                {% endblock %}

                {% block content2 %}
                    <section class="content2">
                        {{ content_2 | safe }}
                    </section>
                {% endblock %}

            </main>

            {% include "form-thank-you.njk" %}

            {% block footer %}
                {% include "footer.njk" %}
            {% endblock %}

            {% include "cookies-dialog.njk" %}

            <div id="hubspotEmbed"></div>
        </body>
    {% endblock %}
</html>